        @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

        * {
            box-sizing: border-box;
        }

        body {
            background-image: linear-gradient(135deg, #f5f7fa 0%, #f03250 100%);

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            overflow: hidden;
            min-height: 100vh;
            font-family: 'Nanum Gothic', sans-serif;
            margin: 0;
        }

        .submit {
            height: 35px;
        }

        .charge {
            width: 220px;
            height: 35px;
        }

        .dollar-container {
            -webkit-animation: fall 2s linear;
            animation: fall 2s linear;
            color: #85bb65;
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            top: -100px;
            position: absolute;
        }

        @-webkit-keyframes fall {
            to {
                transform: translateY(110vh);
            }
        }

        @keyframes fall {
            to {
                transform: translateY(110vh);
            }
        }

        .fa-dollar-sign {
            -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
        }

        @-webkit-keyframes rotate {
            to {
                transform: rotate(359deg);
            }
        }

        @keyframes rotate {
            to {
                transform: rotate(359deg);
            }
        }

        footer {
            background-color: #222;
            color: #fff;
            font-size: 14px;
            bottom: 0;
            position: fixed;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 999;
        }

        footer p {
            margin: 10px 0;
        }

        footer i {
            color: red;
        }

        footer a {
            color: #3c97bf;
            text-decoration: none;
        }