        /*         #tableArea .dataTables_wrapper { */
        /*             position: relative; */
        /*             clear: both; */
        /*             zoom: 1; */
        /*             overflow-x: auto; */
        /*         } */
        /*         #tableArea table { */
        /*             width: 800px; */
        /*         } */

        th, td {
            text-align: center;
        }
        .even {
            background-color: rgba(214, 245, 255, 0.5) !important;
        }

        .btn {
            width: 60px;
            line-height: 1.0;
        }

        .star {
            height: 30px;
            border-radius: .25rem;
        }

        #detailTable img {
            width: 30%;
            /*         	min-width:30px; */
        }

        h3,
        h4,
        h5,
        h6 {
            color: #222736;
        }



        /* ��惜 */
        /*h1 {
    font-size: 40px;
    line-height: 0.8em;
    color: black;
}*/

        button:focus,
        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }

        .tabs {
            display: block;
            display: -webkit-flex;
            display: -moz-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: 0;
            overflow: hidden;
            width: 100%;

        }
        .recordTitle {
            width: 20%;
            background-color: #fd264f;
            color: #fff;
            border-radius: 5px;
            margin: 0 auto;
            padding: 5px;
        }

        .tabs [class^="tab"] label,
        .tabs [class*=" tab"] label {
            color: black;
            cursor: pointer;
            display: block;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1em;
            padding: 1rem 0;
            text-align: center;
        }

        .tabs [class^="tab"] [type="radio"],
        .tabs [class*=" tab"] [type="radio"] {
            border-bottom: 1px solid rgba(239, 237, 239, 0.5);
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: block;
            width: 100%;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .tabs [class^="tab"] [type="radio"]:hover,
        .tabs [class^="tab"] [type="radio"]:focus,
        .tabs [class*=" tab"] [type="radio"]:hover,
        .tabs [class*=" tab"] [type="radio"]:focus {
            border-bottom: 1px solid #fd264f;
        }

        .tabs [class^="tab"] [type="radio"]:checked,
        .tabs [class*=" tab"] [type="radio"]:checked {
            border-bottom: 2px solid #fd264f;
        }

        .tabs [class^="tab"] [type="radio"]:checked+div,
        .tabs [class*=" tab"] [type="radio"]:checked+div {
            opacity: 1;
        }

        .tabs [class^="tab"] [type="radio"]+div,
        .tabs [class*=" tab"] [type="radio"]+div {
            display: block;
            opacity: 0;
            padding: 1rem 0;
            width: 90%;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .tabs .tab-2 {
            width: 50%;
            height: 5%;
        }

        .tabs .tab-2 [type="radio"]+div {
            width: 200%;
            margin-left: 200%;
        }

        .tabs .tab-2 [type="radio"]:checked+div {
            margin-left: 0;
        }

        .tabs .tab-2:last-child [type="radio"]+div {
            margin-left: 100%;
        }

        .tabs .tab-2:last-child [type="radio"]:checked+div {
            margin-left: -100%;
        }