h3,
h4,
h5,
h6 {
    color: #222736;
}

#togethereat {
    width: 90%;
    margin: -50px auto 0px auto;
    color: #5c5c5c;
}

.createGroup {
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.togetherList {
    width: 70%;
    margin: 0 auto;
    /*border: 1px solid black;*/
}

.groupList {
    /*border: 1px solid blue;*/
    border-radius: 20px;
    width: 100%;
    display: flex;
    padding: 30px;
    /*background-color: #eee;*/
    background-color: white;
    margin: 30px 0;
    justify-content: space-around;
    box-shadow: 0px 7px 30px 0px #ccccccbd;
}

.groupPic {
    /*border: 1px solid red;*/
    width: 40%;
    overflow: hidden;
}

.groupPic img {
    max-width: 100%;
    border-radius: 5px;
}

.groupRestaurant {
    color: #f03250;
    font-weight: 600;
}

.groupinfo {
    /*border: 1px solid orange;*/
    width: 50%;
}

form div {
    margin-top: 20px;
}

.groupTime {
    text-align: right;
}

.goButton {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: flex-end;
}

.joinGroup {
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: #f03250;
    color: white;
}

.joinGroup:hover {
    background-color: white;
    color: #f03250;
}

.groupDesc {
    width: 120px;
    height: 45px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    color: #f03250;
    border: 1px solid #f03250;
    margin-left: 20px;
}

.groupDesc:hover {
    background-color: #f03250;
    color: white;
}

/* 頁籤 */
/*h1 {
    font-size: 40px;
    line-height: 0.8em;
    color: black;
}*/

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;

}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    color: black;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center;
}

/*.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}*/

.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #fd264f;
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #fd264f;
}

.tabs [class^="tab"] [type="radio"]:checked+div,
.tabs [class*=" tab"] [type="radio"]:checked+div {
    opacity: 1;
}

.tabs [class^="tab"] [type="radio"]+div,
.tabs [class*=" tab"] [type="radio"]+div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs .tab-2 {
    width: 50%;
    height: 5%;
}

.tabs .tab-2 [type="radio"]+div {
    width: 200%;
    margin-left: 200%;
}

.tabs .tab-2 [type="radio"]:checked+div {
    margin-left: 0;
}

.tabs .tab-2:last-child [type="radio"]+div {
    margin-left: 100%;
}

.tabs .tab-2:last-child [type="radio"]:checked+div {
    margin-left: -100%;
}